<div class="all">
  <div class="Title">Searsh For Your Destination</div>
  <div class="TII">Discover Your Ideal Destination</div>
  <div class="theForm">
    <div class="in1 zz">
      <div class="theLL">FROM</div>
      <input type="text" placeholder="You Start form" />
    </div>
    <div class="in2 zz">
      <div class="theLL">TO</div>

      <input type="text" placeholder="You Destination" />
    </div>
  </div>
  <button>Searsh</button>
  <div class="filltretemp">
    <div class="JJ">
      <div>Start Date</div>
      <input class="date" type="date" />
    </div>
    <div class="JJ">
      <div>End Date</div>
      <input class="date" type="date" />
    </div>
    <div class="JJ">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="NonOrganized"
          name="T1"
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Organized
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="Organized"
          name="T1"
          id="flexCheckChecked"
          checked
        />
        <label class="form-check-label" for="flexCheckChecked"> All </label>
      </div>
    </div>
    <div class="JJ">
      <div class="including">
        Include:
        <div class="form-check" style="margin-left: 8px">
          <input
            class="form-check-input"
            type="checkbox"
            value="Organized"
            name="T2"
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked"> Event </label>
        </div>
        <div class="form-check" style="margin-left: 8px">
          <input
            class="form-check-input"
            type="checkbox"
            value="Organized"
            name="T2"
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Descovering
          </label>
        </div>
      </div>
      <div class="including">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Organized"
            name="T2"
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked"> Hotel </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Organized"
            name="T2"
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Transportaion
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="Organized"
            name="T2"
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked"> Guide </label>
        </div>
      </div>
    </div>
    <div class="JJ">
      <select class="form-select" aria-label="Default select example">
        <option selected>Class</option>
        <option value="1">Popular</option>
        <option value="2">Luxury</option>
        <option value="3">Super Class</option>
      </select>
    </div>
  </div>
</div>
